.DS_Store



application/cache/*

!application/cache/index.html

!application/cache/.htaccess



application/logs/*

!application/logs/index.html

!application/logs/.htaccess



composer.lock



user_guide_src/build/*

user_guide_src/cilexer/build/*

user_guide_src/cilexer/dist/*

user_guide_src/cilexer/pycilexer.egg-info/*

/vendor/



# IDE Files

#-------------------------

/nbproject/

.idea/*



## Sublime Text cache files

*.tmlanguage.cache

*.tmPreferences.cache

*.stTheme.cache

*.sublime-workspace

*.sublime-project


## Cakephp Admin

/admin/vendor/*
/admin/config/app.php

/admin/tmp/cache/models/*
!/admin/tmp/cache/models/empty
/admin/tmp/cache/persistent/*
!/admin/tmp/cache/persistent/empty
/admin/tmp/cache/views/*
!/admin/tmp/cache/views/empty
/admin/tmp/sessions/*
!/tmp/sessions/empty
/admin/tmp/tests/*
!/admin/tmp/tests/empty

/admin/logs/*
!/admin/logs/empty

/admin/app/tmp/*
/admin/app/Config/core.php
/admin/app/Config/da
